@font-face {
    font-family: Quicksand;
    src: url(https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap);
}
.body {
    margin: 0;
    padding: 0;
   
}
.main-container {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 320px;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logo{
    width: 26px;
    height: 26px;
    margin-left: 11%;
    margin-top: 27px;
    margin-bottom: 27px;
}
.nav-link{
    margin-left: 7%;
    margin-top: 33px;
    width: 33%;
    display: flex;
    justify-content: space-between;
   
}
.nav-links{
    text-decoration: none;
    font-family: Quicksand;
    font-size: 15px;
    line-height: 15px;
    color:#697CA6;
}

.social-icon{
    width: 7%;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-top: 35px;
    
}
.facebook-icon{
    width: 12px;
    height: 17px;
}
.telegram-icon{
    width: 19px;
    height: 12px;
}
.twitter-icon{
    width: 22px;
    height: 14px;
}
.get-started{
    width: 113px;
    height: 43px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 11%;
    font-family: Quicksand;
    color: #3A79FF;
    background-color: #D2E1FF;
    border: none;
    font-size: 15px;
    
}
.hero{
    background-image: url(/image/Rectangle.png);
    width: 100%;
    height: 583px;
 
}
.vector{
    margin-top: -10%;
    width:100%;
}
.hero-information{
    padding-top: 105px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}
.title-text{
    font-family: Quicksand;
    font-size: 14px;
    color:#3d4f9f;
}
.hero-title{
    font-family: Quicksand;
    font-size: 48px;
    color:#3d4f9f;
    padding-top:16px;
    padding-bottom: 30px;
}
.main-text{
    font-family: Quicksand;
    font-size: 17px;
    color:#3d4f9f;
}
.play-button{
    padding-left: 45%;
    
}
.partner{

    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 276px;
    padding-right: 276px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}

